
body{
    background-color: var(--color-body);
    display: flex;
    justify-content: center;
    
}

main{
    background-color: var(--color01);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border-radius: var(--border-radius01);
    width: /* he quitado el 100% para ver como quedaba. */
    
}

/*  seccion pagar, comienzo del proyecto */

section{
    display: flex;
    /* justify-content:center */
    flex-direction: column;
    width: 375px;
    height: 812px;
    align-self: center;
    
}

article{
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content:center ;/* he cambiado para hacer una prueba */
    width: 340px;
    background-color: var(--color02);
    margin-top: 20px;
    border-radius: 60px;
    
}



.elementosSuperiores{
    display: flex;
    justify-content: space-between;
    align-self: center;
    

}
.elementosSuperiores_h1{
    font-family: var(--roboto01);
    flex-basis: 69%;
    font-size: 3rem;
    font-weight: normal;

}

.elementosSuperiores_img{
    width: 50px;
    height: 50px;
    align-self: center;
    
    
}

/* section foto figur/figcaption */



.section_foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.section_foto_chica{
    border-radius: 50px;
    align-self: center;

}

.section_foto_nombre{
    align-self: center;
    text-align: center;
    padding: 10px;
    font-family: var(--roboto01);
    font-size: 25px;
    font-weight: bold;
}
 
.section_foto_nombre_gmail{
    list-style: none;
    padding: 0px;
    font-family: var(--roboto02);
    font-size: 15px;
    font-weight: lighter;
}

/* zona precios pay pal y svg */


.display{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 330px;
    background-color: var(--color07);
    border-radius: 40px;
   
    

}
.display_control{
    display: flex;
    margin: 0px;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;
    width: 320px;

}

.dislplay_control_precio{
    display: flex;
    align-self: center;
    flex-basis: 55%;
    color: var(--color04);
    font-size: 15px;
    font-family: var(--roboto01) sans-serif;
    
}

.display_control_paypal{
    align-self: center;
}
.dislplay_control_h4{
       
    color: var(--color04);
    align-self: center;
    margin: 0px ;
    font-size: 15px;
    font-family: var(--roboto01) sans-serif;
    font-weight: normal;
}
.
.dislplay_control_simbolos{
    color: var(--color04);
    display: inline-block;
    
}


.displayMasmenos{
    list-style: none;
    align-self: center;
    padding: 0px 10px 0px 10px;
    margin: 0px;
}


/* comienza la seccion precio ul */
.precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    
}

.precio_li{
    display: flex;
   align-self: center;
   list-style: none; 
   font-family: var(--roboto01);
   font-size: 90px;
   
}
.precio_li_euros{
    font-family: var(--roboto01);
    font-size: 40px;
    
}

.articulo_li{
    list-style: none;
    align-self: center;
    font-family: var(--roboto01);
    font-size: 30px;

}
/* empezamos con el parrafo y el enviar */


.texto_parrafo{
    font-family: var(--roboto01);
    font-size: 10px;
    color:#5C5C5C;
    background-color:var(--color06);
    padding: 10px;
    width: 300px;
    align-self: center;
    text-align: left;
    border-radius: 0px 20px 20px;
    margin-top: 25px;
}
.enviar_a{
    text-decoration: none;
    background-color: #1C1C1F;
    color: #ffffff;
    padding: 10px;   
    border-radius: 20px;
    width: 300px;
    align-self: center; 
    text-align:center;
    font-size: 20px;
    font-family: var(--roboto01);
    font-weight: bold;
}