/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woff2"),
         url("") format("woff");
}
@font-face {
    font-family: "";
    src: url("") format("woff2"),
         url("") format("woff");
}
@font-face {
    font-family: "";
    src: url("") format("woff2"),
         url("") format("woff");
}

/* ******************************** */
/* VARIABLES */
/* ******************************** */

:root{

    /* Colores */
    /* Utilizado en el body */
    --color-pink01: #F2E8F3;
    /* Utilizado en el section padre */
    --color-pink02: #F7F0F7;
    /* Utilizado en la zona intermedia del precio, paypal*/
    --color-pink03: #FAF5FB;
    /* Utilizado en el texto y en la forma encima del boton enviar */
    --color-pink04: #FAC8FF;
    /* este color se ha utilizado en el boton enviar */
    --color-black: #1C1C1F;
    --color-white: #fff;

    /* Tipografía */
    --h1: 4rem;
    --h2: 3rem;
    --h3: 2rem;
    --h4: 1rem; /* 16px */
    --h5: 0.5rem;
    --h6: 0.35rem;

    /* Tamaños */
    --section-principal: 931px; /* ancho de todo mi diseño 58.188rem */ 
    --section-borderRadius: 60px;
    --box-borderRadius: 40px;
}


/* ******************************** */
body{
    background-color: var(--color-pink01);
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.sectionPrincipal{
    width: var(--section-principal);
    background-color: var(--color-pink02);
    border-radius: var(--section-borderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
}
.superior{
    width: 100%;
    background-color: #fff;
    border-radius: var(--section-borderRadius);
    display: flex;
    justify-content: center;
}
.inferior{
    width: 90%;
}

.inferior_parrafo{
    text-align: justify;
}

.inferior_botonEnviar{
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    padding: 2rem 0;
    background-color: var(--color-black);
    border-radius: var(--box-borderRadius);
    color: #fff;

}
.inferior_parrafo{
    background-color:var(--color-pink04);
    border-radius: 0 10px 10px 10px;
}
.paypal{
    color:#8d3b95;
    background-color:var(--color-pink02);
}
li{
    list-style: none;
    width: 90%;
    border-radius: 10px;
   
}
